@page
@model QLCT5.Pages.TrangPhongBan.IndexModel

@{
    ViewData["Title"] = "Phòng ban";
}

<h1>Danh sách phòng ban</h1>

<p>
    <a class="btn btn-success btn-sm" asp-page="Create">+ Thêm mới phòng ban</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhongBan[0].TenPhongBan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PhongBan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhongBan)
            </td>
            <td class="td-action">
                <div>
                    <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.IdPhongBan">Sửa</a>
                    <a class="btn btn-warning btn-sm" asp-page="./Details" asp-route-id="@item.IdPhongBan">Xem chi tiết</a>
                    <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.IdPhongBan">Xóa</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
