@page
@model QLCT5.Pages.TrangChungTu.DeleteModel

@{
    ViewData["Title"] = "Xóa tập CT";
}

<h1>Xóa tập chứng từ</h1>

<h3>Bạn có chắc chắn muốn xóa tập chứng từ này?</h3>
<div>
    <h4>ChungTu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChungTu.TenChungTu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChungTu.TenChungTu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChungTu.MaChungTu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChungTu.MaChungTu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChungTu.NgayChungTu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChungTu.NgayChungTu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChungTu.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChungTu.SoLuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChungTu.IdDonViNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChungTu.IdDonViNavigation.TenDonVi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChungTu.IdKepChungTuNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChungTu.IdKepChungTuNavigation.TenKepChungTu)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ChungTu.IdChungTu" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại danh sách</a>
    </form>
</div>
