@page
@model QLCT5.Pages.TrangChungTu.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách tập chứng từ</h1>

<p>
    <a class="btn btn-success btn-sm" asp-page="Create">+ Thêm mới tập chứng từ</a>
</p>


<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="row">
            <div class="col">
                Loại CT:
                <input type="text" class="form-control" asp-for="SearchString" />
            </div>

            <div class="col">
                Chọn đơn vị:
                <select asp-for="ChungTuOfDonVi" class="form-control" asp-items="ViewBag.TenDonVi">
                    <option value="">--Tất cả đơn vị--</option>
                </select>
            </div>
            <div class="col">
                Nhập năm:<input type="text" class="form-control" asp-for="Nam" />
            </div>
            <div class="col">
                Chọn tháng:
                <select asp-for="Thang" class="form-control" asp-items="ViewBag.ThangCT">
                    <option value="">--Tất cả tháng--</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Mã CT:
                <input type="text" class="form-control" asp-for="MaChungTu" />               
            </div>
            <div class="col m-4">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChungTu[0].IdChungTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChungTu[0].TenChungTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChungTu[0].MaChungTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChungTu[0].NgayChungTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChungTu[0].SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChungTu[0].IdDonViNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChungTu[0].IdKepChungTuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChungTu)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdChungTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChungTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChungTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaChungTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayChungTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDonViNavigation.TenDonVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKepChungTuNavigation.TenKepChungTu)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.IdChungTu">Sửa</a> |
                <a class="btn btn-warning btn-sm" asp-page="./Details" asp-route-id="@item.IdChungTu">Xem chi tiết</a> |
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.IdChungTu">Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var pagingModel = new QLCT5.Helpers.PagingModel()
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = (int? p) => @Url.Page("/TrangChungTu/Index", new { p = p })
    };
}


<partial name="_Paging" model="@pagingModel" />
