@page
@model QLCT5.Pages.TrangKho.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Xem chi tiết</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kho.TenKho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kho.TenKho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kho.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kho.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kho.IdKho">Sửa</a> |
    <a asp-page="./Index">Quay lại danh sách</a>
</div>
