@page
@model QLCT5.Pages.TrangKho.IndexModel

@{
    ViewData["Title"] = "Khu lưu trữ";
}

<h1>Danh sách khu lưu trữ</h1>

<p>
    <a class="btn btn-success btn-sm" asp-page="Create">+ Thêm mới kho</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kho[0].TenKho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kho[0].DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kho) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td class="td-action">
                <div>
                    <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.IdKho">Sửa</a>
                    <a class="btn btn-warning btn-sm" asp-page="./Details" asp-route-id="@item.IdKho">Xem thông tin</a>
                    <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.IdKho">Xóa</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
