@page
@model QLCT5.Pages.TrangTra.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tra.NgayTra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tra.NgayTra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tra.NhanVienTra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tra.NhanVienTra.HoTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tra.NhanVienNhan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tra.NhanVienNhan.HoTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tra.Muon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tra.Muon.MuonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tra.TraId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
