@page
@model QLCT5.Pages.TrangKepChungTu.IndexModel

@{
    ViewData["Title"] = "Kẹp chứng từ";

}


<h1>Danh sách kẹp chứng từ</h1>

<p>
    <a class="btn btn-success btn-sm" asp-page="Create">+ Thêm mới kẹp chứng từ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KepChungTu[0].SoHopDong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KepChungTu[0].TenKepChungTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KepChungTu[0].NamCt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KepChungTu[0].ThangCt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KepChungTu[0].IdTuKeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KepChungTu[0].IdTuKeNavigation.IdKhoNavigation.TenKho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.KepChungTu)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SoHopDong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKepChungTu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamCt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThangCt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTuKeNavigation.TenTuKe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTuKeNavigation.IdKhoNavigation.TenKho)
                </td>
                <td class="td-action">
                    <div>
                        <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.IdKepChungTu">Sửa</a>
                        <a class="btn btn-warning btn-sm" asp-page="./Details" asp-route-id="@item.IdKepChungTu">Xem chi tiết</a>
                        <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.IdKepChungTu">Xóa</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var pagingModel = new QLCT5.Helpers.PagingModel()
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = (int? p) => @Url.Page("/TrangKepChungTu/Index", new { p = p })
    };
}


<partial name="_Paging" model="@pagingModel" />

